{erl_opts, [debug_info]}.
{deps, [
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy"}},
	{cowboy_session, ".*", {git, "git@github.com:dronowar/cowboy_session.git"}},
	{emodel, ".*", {git, "https://github.com/egobrain/emodel.git"}},
	{pgapp, ".*", {git, "https://github.com/epgsql/pgapp.git"}},
	{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{plugins, [rebar3_run]}.

{relx, [{release, {cowboy_rebar3, "0.1.0"},
         [cowboy_rebar3,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
