[
  {cowboy_rebar3, []},
  {pgapp, [
    {pools, [
        {pgdb, [
                {size, 5},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "myapperl"},
                {username, "khoanguyen"},
                {password, ""}
            ]}
        ]
    }]
  }
].
